*.iml
.gradle
/local.properties

# Ignore most of .idea, except codeStyles which can be shared
/.idea/*
!/.idea/codeStyles/

.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties

# IDE and compiler temporary files
.idea/inspectionProfiles/
.kotlin/
.cursor/rules/

# AI scratchpad
app/docs/
